{% extends "SonataUserBundle:Profile:action.html.twig" %}
{% block sonata_profile_content %}



    <div class="tag-box tag-box-v3 form-page" style="overflow: hidden;">
        <div class="well">
            <span class="label rounded label-green" style="display: inline-block; width: 33%; border: 1px solid black">&nbsp;</span>
            <span class="label rounded label-green" style="display: inline-block; width: 33%; border: 1px solid black">&nbsp;</span>
            <span class="label rounded label-green" style="display: inline-block; width: 33%; border: 1px solid black">&nbsp;</span>
        </div>

        Aukcja o tytule <strong>"{{ title }}"</strong> została dodana. Możesz ją zobaczyć <a href="{{ path('gpi_auction_details', {'id': id }) }}">tutaj</a>
    </div>


{% endblock %}


