{% extends "SonataUserBundle:Profile:action.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block sonata_profile_content %}



    <div class="tag-box tag-box-v3 form-page" style="overflow: hidden;">
        <div class="well" style="text-align: center">
            <span class="label rounded label-blue" style="display: inline-block; width: 31%; border: 1px solid #aaaaaa">Kategorie</span>
            <i class="fa fa-angle-double-right"></i>
            <span class="label rounded label-light" style="display: inline-block; width: 31%; border: 1px solid #aaaaaa">Podkategorie</span>
            <i class="fa fa-angle-double-right"></i>
            <span class="label rounded label-light" style="display: inline-block; width: 31%; border: 1px solid #aaaaaa">Szczegóły aukcji</span>
        </div>
        <div class="headline"><h3>Wybierz kategorie dla aukcji</h3></div>

        <form method="POST" {{ form_enctype(form) }}>


            <fieldset>
                {{ form_row(form.categories) }}
            </fieldset>
            <hr/>

            <fieldset>
                {{ form_rest(form) }}
            </fieldset>
        </form>
    </div>


{% endblock %}


