{% extends "::base.html.twig" %}

{% block title %}GPIOfferBundle:AddOffer:index{% endblock %}

{% block body %}
<div class="headline"><h2>Dodaj nową aukcję</h2></div>

    {{ form(form) }}
{% endblock %}
