{% if object.isDeactivated() %}
    <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('activate', object) }}">Włącz</a>
{% else %}
    <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('deactivate', object) }}">Wyłącz</a>
{% endif %}