{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}



    {% block sonata_page_content %}
        <div class="tag-box tag-box-v3 form-page" style="overflow: hidden;">
            <div class="headline"><h3>Podaj powód wyłączenia aukcji</h3></div>

            <form method="POST" {{ form_enctype(form) }} class="sky-form">
                <fieldset>
                    {{ form(form) }}
                </fieldset>
            </form>
        </div>

    {% endblock %}




