{% extends "GPIOfferBundle:EditAuction:index.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block sonata_profile_content %}

    <div class="headline"><h2>Edytuj</h2></div>

    {{ form_start(form) }}

    {{ form_end(form) }}

{% endblock %}