{% extends "SonataUserBundle:Profile:action.html.twig" %}
{% block sonata_profile_content %}

    Czy napewno chcesz usunąć ofertę?
    <br/>
    <a style="display:inline;" class="btn btn-success" href="{{ path("gpi_offer_list") }}">Nie</a>
    <form style="display:inline;" action="{{ path("gpi_offer_cancel", {'id': offer.id }) }}" method="POST">
        <button class="btn btn-success" value="pac">Tak</button>
    </form>


{% endblock %}

