<div class="block-newsletter col-sm-12 well">Tytuł: {{ offer.name }}</div>
<div class="block-newsletter col-sm-12 well">Treść: {{ offer.content|raw }}</div>
<div class="block-newsletter col-sm-12 well">Kategoria: {{ offer.category }}</div>